#header img {
  margin-left: 18px;
}

#header h1 {
  background-color: #2f236b;
  color: white;
  margin-top: 5px;
  margin-bottom: 40px;
  margin-right: 18px;
  padding: 42px 120px 51px 100px;
  text-align: center;
  word-spacing: 3px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#inputForms {
  border-top: 15px solid black;
  margin-top: 40px;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

#add-vln-btn {
  height: 3rem;
}

#get-violinist-select {
  height: 2rem;
}

#get-violinist-select option {
  text-align: center;
}

#get-vln-by-id-btn {
  height: 3rem;
}

#delete-violinist-by-id {
  height: 3rem;
}

.form-group-add {
}

.form-group-add input {
  height: 2rem;
  margin-top: 25px;
  margin-bottom: 20px;
}
