#header img {
  margin-left: 18px;
}

#header h1 {
  background-color: #2f236b;
  color: white;
  margin-top: 5px;
  margin-bottom: 40px;
  margin-right: 18px;
  padding: 42px 120px 51px 100px;
  text-align: center;
  word-spacing: 3px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* FORMS */
#inputForms {
  border-top: 15px solid black;
  border-bottom: 6px solid black;
  margin-top: 40px;
  margin-left: 3%;
  margin-right: 3%;
  padding-bottom: 20px;
}

/* Add violinist form */
#add-vln-btn {
  height: 3rem;
}

.form-group-add {
  margin-left: 15%;
}

.form-group-add input {
  height: 2rem;
  margin-top: 25px;
  margin-bottom: 20px;
}

/* get violinist form */
#getVln {
  display: inline-flex;
  margin-left: 20%;
}

#getVln label {
  padding-right: 0.5em;
  margin-top: 19px;
}

#get-violinist-select {
  height: 2rem;
  margin-top: 10px;
}

#get-violinist-select option {
  text-align: center;
}

#get-vln-by-id-btn {
  height: 3rem;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

/* delete violinist form */
#delete-violinist-by-id {
  height: 3rem;
}

.table tr {
  font-size: 20px;
  height: 50px;
}

#hidden {
  display: none;
}

.Danger {
  background-color: rgb(65, 243, 65);
}
/* UPDATE Form */
.updateVlnData {
  margin-top: 30px;
}

.updateVlnData button {
  border-radius: 12px;
  float: right;
  margin-bottom: 64px;
  margin-right: 20px;
}

#dataDisplay input {
  width: 6%;
}

#dataDisplay p {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 12px;
  margin-top: 6px;
  font-size: 20px;
}
